[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
opencv-python = "*"
scipy = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
